body {
	margin: 0;
	background: url(../images/bg.jpg);
	}
* {
	box-sizing: border-box;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
}

nav {
	background-color: #174860;
}

.navbar {
	background-color: white;
	border-radius: 0 0 25px 25px;
}

.navbar-light .navbar-nav .nav-link {
	color: #861A18;
	font-size: 1.5em;
}
nav i {
	margin: 0 20px;
}

nav a {
	text-transform: uppercase;
}

.carousel {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
