@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:700');
body {
	margin: 0;
	background: url(../images/bg.jpg);
}

header {
	margin-top: 50px;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0;
}

nav {
	background-color: #174860;
}

.navbar {
	background-color: white;
	border-radius: 25px 25px 0 0;
}

.navbar-light .navbar-nav .nav-link {
	color: #861A18;
	font-size: 1.4em;
}

nav i {
	margin: 0 20px;
}

nav i:hover {
	color: black;
}

nav a {
	font-family: 'Cinzel Decorative', cursive;
	text-transform: uppercase;
	text-align: center;
}

/* index page */

.circular-menu {
  position: fixed;
  top: 2em;
  right: 2em;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: hsl(4, 98%, 60%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s;  
}

.circular-menu.active .floating-btn i {
  transform: rotate(45deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: white;
  transition: all .3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0,0%,0%,.1);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(0em,6em,0);
}

.polish {
	background: url(../images/flags/pl.svg);
	background-size: cover;
}

.german {
	background: url(../images/flags/de.svg);
	background-size: cover;
	border: 1px solid black;
}

.widget {
	position: fixed;
	width: 200px;
	left: -200px;
	height: 150px;
	width: 150px;
	transition: left 0.4s ease-in-out;
	-o-transition: left 0.4s ease-in-out;
	-ms-transition: left 0.4s ease-in-out;
	-moz-transition: left 0.4s ease-in-out;
	-webkit-transition: left 0.4s ease-in-out;
}

.checkWeather {
	position: absolute;
	left: 200px;
}

.widgetInner {
	width: 200px;
}

.widget:hover {
	left: 0px;
}

.carousel, .carousel2 {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.assets {
	background-color: #f1f1f1;
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 0;
}

.asset {
   margin: 0 auto;
  max-width: 300px;
  width: 100%;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  text-align: center;
}

.asset *,
.asset:before,
.asset:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.asset:before,
.asset:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  border: 2px solid #bbb;
  border-color: transparent #861A18;
}

.asset>img {
  max-width: 300px;
  vertical-align: top;
  border-radius: 50%;
  padding: 10px;
  margin: 0 auto;
}

.asset figcaption {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  opacity: 0;
  background-color: rgba(93, 75, 75, 0.9);
  border-radius: 50%;
  margin: 0 auto;
}

figcaption>h1 {
	vertical-align: middle; 
	font-size: 5em;
	text-align: center;
  color: white;
  margin: 0 auto;
}

figcaption h2 {
	text-align: center;
  color: white;
  margin: 0 auto;
}

.asset:hover figcaption,
.asset.hover figcaption {
  opacity: 0.5;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.asset:hover:before,
.asset.hover:before,
.asset:hover:after,
.asset.hover:after {
  border-width: 10px;
}

.asset:hover:before,
.asset.hover:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.asset:hover:after,
.asset.hover:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.intro .container {
	background-color: #f1f1f1;
}

.intro .col-lg-6 {
	margin: 1em 0;
}

.intro p {
	margin-left: 1em;
}

.intro h2, h1 {
	text-align: center;
}

.intro .row img {
	width: auto;
}

.stamp {
	width: 280px;
	height: 180px;
	display: inline-block;
	padding: 10px;
  margin-top: 50px;
	background: white;
	position: relative;
  text-align:center;
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
	background: radial-gradient(
		transparent 0px, 
		transparent 4px, 
		white 4px,
		white
	);
	background-size: 20px 20px;
	background-position: -10px -10px;
}
.stamp:after {
	content: '';
	position: absolute;
	/*We can shrink the pseudo element here to hide the shadow edges*/
	left: 5px; top: 5px; right: 5px; bottom: 5px;
	z-index: -1;
}

.stamp:before {
	content: 'CSS3';
	position: absolute;
	bottom: 0; left: 0;
	font: bold 24px arial;
	color: white;
	opacity: 0.75;
	line-height: 100%;
	padding: 20px;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

.rotate-out-ver {
	-webkit-animation: rotate-out-ver 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: rotate-out-ver 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* contact page */

main,
#restaurant {
	background-color: #f1f1f1;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

main .row {
	margin: 0;
}

h4 {
	text-align: center;
}

.col-md-3,
.col-md-5,
.col-md-8 {
	display: inline-block;
}

.col-md-3,
.col-md-5 {
	text-align: center;
}

.col-md-5 p {
	font-size: 1.2em;
	font-weight: bold;
}

.btn {
	position: relative;
}

.btn,
.btn:active {
	background-color: #861A18;
	border-color: black;
}

.btn:hover {
	background-color: black;
	border-color: white;
}

footer {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	margin-bottom: 50px;
	background-color: white;
	height: 35px;
	text-align: center;
	color: #861A18;
	border-radius: 0 0 25px 25px;
}

footer p {
	padding: 10.5px;
	margin: 0px;
	line-height: 10px;
	text-align: center;
}

.flip-vertical-right {
	-webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

/* RESTAURANT*/

#restaurant {
	height: 1500px;
}

.row img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 650px;
	height: 300px;
}

#restaurant .row {
	margin: 0;
}

#restaurant h1,h3 {
	
	text-align: center;
}

#restaurant p {
	
}

#foodmenu h3, #foodmenu p {
	text-align: left;
}

#foodmenu.row {
	margin: 0;
}

#foodmenu .col {
	height: 900px;
	z-index: 1;
}

/* GALLERY */

.gallery h2 {
	text-align: center;
}

.thumb {
	margin-bottom: 20px;
}

img.zoom {
	display: block;
	width: 250px;
	height: 200px;
	margin-left: auto;
    margin-right: auto;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

.transition {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.tour {
	width: 100%;
	height: 500px;
	margin: 0 auto;
	border: 0;
}

/*ADDITIONAL*/

.attractions .container {
	background-color: #f1f1f1;
}

.attractions .row {
	margin: 0 1rem;
}

.attractions .col {
	margin: 20px auto;
}

.attractions h1 {
	text-align: center;
}

.attractions img {
	width: 250px;
	height: 150px;
}

#map {
	width: 1000px;
	height: 400px;
	margin: 20px auto;
	}

/* ROOMS */

.rooms .container {
	background-color: #f1f1f1;
}

.rooms .nav-link {
	color: #861A18;		
}

.rooms button {
	margin: 10px 20px;
	width: 150px;
	
}

.rooms .col-10 {
	padding: 0;
}

.room {
	overflow: hidden;
    width: 1000px;
	height: 630px;
    position: relative;
    
}

.col-10 .room iframe {
	margin: 0;
	width: 100%;
	height: 100%;
}

.booking p {
	display: inline;
	font-size: 30px;
	text-align: center;
	margin-left: 25%;
}

.booking>a>img {
	display: inline;
	width: 150px;
	height: 61px;
	
}

[id*="room_"] {
	display: none;
}

/* RWD */

@media (max-width: 767px) {
	
	
	.slick-arrow {
		display: none;
	}
	
	.widget, .circular-menu {
		display: none;
	}
	
	.assets {
		margin: 0;
	}
	
	.asset {
		margin-bottom: 2em;
		width: 200px;
		height: 200px;
		font-size: 0.5rem;
	}
	
	.asset>img {
  width: 200px;
  height: 200px;
  vertical-align: top;
  border-radius: 50%;
  padding: 10px;
  margin: 0 auto;
  }
	
	.intro {
		margin-left: 0;
		margin-right: 0;
	}
	
	.intro h2 {
		font-size: 1.5em;
	}
	
	.intro p {
		margin-right: 1em;
	}
	
	.intro img {
		max-width: 350px;
	}
	
	main iframe {
		margin-bottom: 15px;
	}
	
	header i.fa-5x {
		font-size: 3em;
	}
	
	footer p {
		padding: 0;
		font-size: 11px;
		line-height: 3em;
		
	}
	
	/* CONTACT */
	.btn {
		margin-bottom: 30px;
	}
	
	/* ADDITIONAL */
	
	.attractions img {
		margin: auto;
	}
	
	.attractions h2 {
	font-size: 1.5rem;
	}
	
	.inro .row img {
		width: 70%;
	}
	
	/* ROOMS */
	
	.rooms button {
		width: auto;
	}
	.col-10 .room {
		width: auto;
	}
	
	.col-10 .room iframe {
		width: 85%;
	}
	
	/* RESTAURANT */
	
	.restaurant-header h1 {
		font-size: 2em;
	}
	
	.restaurant-header h3 {
		font-size: 1em;
	}
	
	.restaurant-header img {
		width: 300px;
		height: auto;
	}
	
	.col p {
		text-align: center;
	}
	
	.col-7 img {
			width: 100px;
			height: auto;
	}
	
	#restaurant {
		height: 1250px;
	}
	
	#restaurant>h1 {
		font-size: 1,5rem;
	}
	
/*#foodmenu .col {
	height: 900px;
	z-index: 1;
}*/
	
	.fa-3x {
		font-size: 2em;
	}
	
	.col>h3 {
		font-size: 1,5rem;
	}
	
	/* GALLERY */
	
	.gallery h2 {
		font-size: 1.5rem;
	}
}

@media(min-width: 768px) and (max-width: 991px) {
	
	/* INDEX	 */
	.asset {
		width: 200px;
		height: 200px;
	}
	
	.asset>img {
		width: 200px;
		height: 200px;
	}
	
	figcaption>h1 {
		font-size: 2em;
	}
	
	.intro .row img {
		width: 75%;
	}
}